@model Inventario.Models.Tabla_Proveedores

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
       <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoPaternoProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoPaternoProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoMaternoProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoMaternoProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonoProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonoProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccionProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccionProveedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.RFCproveedor }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
<legend>Historial de compras</legend>

<table style="background-color:rgba(74, 90, 86, 0.68)" class="table table-hover">
    <tr>        
        <th>Nombre del Producto</th>
        <th>Fecha Proveen</th>
        <th></th>
    </tr>

    @foreach (var producto in Model.Tabla_Intermedia_Proveen)
            {
        <tr>            
            <td>@producto.Tabla_Productos.nombreProducto</td>
            <td>@producto.fechaProveen</td>            
            <td>@Html.ActionLink("Eliminar", "Delete", "Tabla_Intermedia_Proveen", new { id = producto.proveenID }, null)  </td>
            <td>@Html.ActionLink("Detalles", "Details", "Tabla_Intermedia_Proveen", new { id = producto.proveenID }, null)  </td>
        </tr>
    }


</table>
