@model Inventario.Models.Tabla_Intemedia_Comrpas

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tabla_Clientes.nombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tabla_Clientes.nombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tabla_Productos.nombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tabla_Productos.nombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.compraID }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
