@model IEnumerable<Inventario.Models.Tabla_Intemedia_Comrpas>

@{
    ViewBag.Title = "Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container form-group"></div>


    
   <div class="form-group container">
       <div class="panel panel-info">
           <div class="panel-heading">
               <h3 class="panel-title">Compras</h3>
           </div>
           <div class="panel-body">
               <!-- Table -->
               <table class="table table-responsive table-hover">

                   <tr>
                       <th>
                           @Html.DisplayNameFor(model => model.Tabla_Clientes.nombreCliente)
                       </th>
                       <th>
                           @Html.DisplayNameFor(model => model.Tabla_Productos.nombreProducto)
                       </th>
                       <th>
                           @Html.DisplayNameFor(model => model.fechaCompra)
                       </th>
                       <th>
                           @Html.DisplayNameFor(model => model.cantidad)
                       </th>
                       <th></th>
                       <th></th>
                       <th></th>
                   </tr>

                   @foreach (var item in Model)
                   {
                       <tr>
                           <td>
                               @Html.DisplayFor(modelItem => item.Tabla_Clientes.nombreCliente)
                           </td>
                           <td>
                               @Html.DisplayFor(modelItem => item.Tabla_Productos.nombreProducto)
                           </td>
                           <td>
                               @Html.DisplayFor(modelItem => item.fechaCompra)
                           </td>
                           <td>
                               @Html.DisplayFor(modelItem => item.cantidad)
                           </td>
                           <td>
                               @if (User.IsInRole("Admin"))
                                   {
                                       @Html.ActionLink(" ", "Edit", new { id = item.compraID }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil" })                                                                      
                               }
                           </td>
                           <td>
                               @if (User.IsInRole("Admin"))
                               {
                                @Html.ActionLink(" ", "Details", new { id = item.compraID }, htmlAttributes: new { @class = "glyphicon glyphicon-eye-open" })
                               }
                           </td>

                           <td>
                               @if (User.IsInRole("Admin"))
                               {                                                                    
                                   @Html.ActionLink(" ", "Delete", new { id = item.compraID }, htmlAttributes: new { @class = "glyphicon glyphicon-trash" })
                               }
                           </td>

                       </tr>
                   }

               </table>
           </div>
       </div>
   </div>

<div class="col-md-6 form-group container">
    @Html.ActionLink("Crear nueva compra", "Create", null, htmlAttributes: new { @class = "btn btn-info" })
    @Html.ActionLink("Generar PDF", "GeneratePDF", null, htmlAttributes: new { @class = "btn btn-info" })
</div>

@*
    <td>
                               @Html.ActionLink(" ", "Edit", new { id = item.clienteID }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil" })

                           </td>
                           <td>
                               @Html.ActionLink(" ", "Details", new { id = item.clienteID }, htmlAttributes: new { @class = "glyphicon glyphicon-eye-open" })
                           </td>
                           <td>
                               @Html.ActionLink(" ", "Delete", new { id = item.clienteID }, htmlAttributes: new { @class = "glyphicon glyphicon-trash" })
                           </td>
                           <td>
                               @Html.ActionLink(" ", "GeneratePDF2", new { id = item.clienteID }, htmlAttributes: new { @class = "glyphicon glyphicon-file" })
                           </td>
*@