@model IEnumerable<Inventario.Models.Tabla_Intemedia_Comrpas>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte</title>
    <script src="~/Scripts/jspdf.debug.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container panel-body" id="Reporte">
        <table class="table table-bordered">
            <tr>
                <th>
                    Fecha de compra
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Nombre del cliente
                </th>
                <th>
                    Nombre del producto
                </th>
            
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tabla_Clientes.nombreCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tabla_Productos.nombreProducto)
                    </td>
                </tr>
            }

        </table>
        </div>
   
</body>
</html>
