@model Inventario.Models.Tabla_Clientes

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container form-group"> <h2>Eliminar</h2></div>


<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoPaternoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoPaternoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoMaternoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoMaternoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccionCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccionCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correroCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correroCliente)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
