@model IEnumerable<Inventario.Models.Tabla_Clientes>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container form-group"></div>


<div class="form-group container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Clientes</h3>
        </div>
        <div class="panel-body ">
            <!-- Table -->
            <table class="table  table-responsive">
                <tr>
                    <th>
                        Nombre del Cliente
                    </th>
                    <th>
                        Apellido Paterno
                    </th>
                    <th>
                        Apellido Materno
                    </th>
                    <th>
                        
                        Direccio del Cliente
                    </th>
                    <th>
                        Numero de Telefono
                    </th>
                    <th>
                        Correo Electronico
                    </th>
                    <th>
                        Numero de Compras
                    </th>
                    <th>
                      
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellidoPaternoCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellidoMaternoCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.direccionCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefonoCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.correroCliente)
                        </td>
                        <td>
                            @item.Tabla_Intemedia_Comrpas.Count()
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            @*@Html.ActionLink(".", "Edit", new { id = item.clienteID })*@
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.clienteID }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil" })
                            
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Details", new { id = item.clienteID }, htmlAttributes: new { @class = "glyphicon glyphicon-eye-open" })
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Delete", new { id = item.clienteID }, htmlAttributes: new { @class = "glyphicon glyphicon-trash" })
                            </td>
                            <td>
                                @Html.ActionLink(" ", "GeneratePDF2", new { id = item.clienteID }, htmlAttributes: new { @class = "glyphicon glyphicon-file" })
                            </td>
                        }                        
                    </tr>
                }

            </table>


        </div>
    </div>
</div>

<div class="col-md-6 form-group container">
    @Html.ActionLink("Crear nuevo registro", "Create", null, htmlAttributes: new { @class = "btn btn-info" })
    @Html.ActionLink("Generar PDF", "GeneratePDF", null, htmlAttributes: new { @class = "btn btn-info" })
</div>