@model Inventario.Models.Tabla_Clientes
@using Inventario.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte</title>
    <script src="~/Scripts/jspdf.debug.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container, form-group" style="position:center">
        <img style="height:206px; width:206px;" src="~/images/inventarioasda.png" />
    </div> <br />
    <table>
        <tr>
            <th>
                <h3><strong>Reporte General</strong> </h3>
            </th>
        </tr>
        <tr>
            <th>
                Programa Inventario de produtos.
            </th>
        </tr>
        <tr>
            <th>
                Calle Puerto San Felipe #24, Lopez Portillo.<br />
                Numero: 6515139649 <br />
                Fecha y hora de reporte: @DateTime.Now
            </th>
        </tr>
    </table>
    <br />
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Clientes</h3>
        </div>
        <div class="panel-body ">
            <table class="table">
                <tr>
                    <th>Nombre del Cliente</th>
                    <th>Nombre del Producto</th>
                    <th>Fecha de compra</th>
                    <th>Cantidad</th>
                </tr>

                @foreach (var compra in Model.Tabla_Intemedia_Comrpas)
            {
                    <tr>
                        <td>@(compra.Tabla_Clientes.nombreCliente + " " + compra.Tabla_Clientes.apellidoPaternoCliente + " " + compra.Tabla_Clientes.apellidoMaternoCliente)</td>
                        <td>@compra.Tabla_Productos.nombreProducto</td>
                        <td>@compra.fechaCompra</td>
                        <td>@compra.cantidad</td>
                    </tr>
                }

            </table>
          
        </div>
        </div>
    
</body>
</html>
