@model IEnumerable<Inventario.Models.Tabla_Clientes>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte</title>
    <script src="~/Scripts/jspdf.debug.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div style="text-align:left" class="container panel-body" id="Reporte">
        <table class="table table-responsive table-bordered">
            <tr>
                <th>
                    Nombre del Cliente
                </th>       
                <th>
                    Direccion del Cliente
                </th>
                <th>
                    Numero de Telefono
                </th>
                <th>
                    Correo Electronico
                </th>
                
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(item.nombreCliente+" "+item.apellidoPaternoCliente+" "+item.apellidoMaternoCliente)
                    </td>                 
                    <td>
                        @Html.DisplayFor(modelItem => item.direccionCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefonoCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.correroCliente)
                    </td>                   
                </tr>
            }

        </table>
    </div>
    
</body>
</html>
