@model IEnumerable<Inventario.Models.Tabla_Productos>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte</title>
    <script src="~/Scripts/jspdf.debug.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
   
    <div class="container panel-body" id="Reporte">
        <table class="table table-bordered">
            <tr>
                <th>
                   Nombre Producto
                </th>
                <th>
                   Precio venta
                </th>
                <th>
                   Precio compra
                </th>
                <th>
                   Peso neto
                </th>
                <th>
                    Fecha entrada
                </th>
               
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precioVenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precioCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pesoNeto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaEntrada)
                    </td>
                    
                </tr>
            }

        </table>
    </div>
   
</body>
</html>

